{% extends "eshop.html.twig" %}


	{% block breadcrumb %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Category</a></li>
				<li class="active">Product Name Goes Here</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	{% endblock %}
	
	{% block sections %}
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				{% if product is defined and product is not null %}
				
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							{% if product.image is not null %}
								<div class="product-view">
									<img src="{{asset('img/'~product.image.src~'')}}" alt="">
								</div>
							{%endif%}
						</div>
						<div id="product-view">
							{% if thumb_images is defined %}
								{% for img in thumb_images.list %}
								<div class="product-view">
									<img src="{{asset(''~img~'')}}" alt="">
								</div>
								{% endfor %}
							{%endif%}
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								{% if product.new %}<span>{{ product.new }}</span>{%endif%}
								{% if product.sale %}<span class="sale">{{ product.sale }}</span>{%endif%}
							</div>
							<h2 class="product-name">{{ product.name }}</h2>
							<h3 class="product-price">${{ product.price }} {% if product.oldprice %}<del class="product-old-price">${{ product.oldprice }}</del>{% endif %}</h3>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#">3 Review(s) / Add Review</a>
							</div>
							<p><strong>Availability:</strong> {{product.availability}}</p>
							<p><strong>Brand:</strong> {{product.brand|upper}}</p>
							<p>{{product.description}}</p>
							<div class="product-options">
								<ul class="size-option">
									<li><span class="text-uppercase">Size:</span></li>
									<li class="active"><a href="#">S</a></li>
									<li><a href="#">XL</a></li>
									<li><a href="#">SL</a></li>
								</ul>
								<ul class="color-option">
									<li><span class="text-uppercase">Color:</span></li>
									<li class="active"><a href="#" style="background-color:#475984;"></a></li>
									<li><a href="#" style="background-color:#8A2454;"></a></li>
									<li><a href="#" style="background-color:#BF6989;"></a></li>
									<li><a href="#" style="background-color:#9A54D8;"></a></li>
								</ul>
							</div>

							<div class="product-btns">
								<div class="qty-input">
									<span class="text-uppercase">QTY: </span>
									<input class="input" type="number">
								</div>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								<div class="pull-right">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								{% if details is defined %}<li><a data-toggle="tab" href="#tab1">Details</a></li>{% endif %}
								<li><a data-toggle="tab" href="#tab2">{% trans %}Reviews{% endtrans %}({{ product.reviews|length}})</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>{{ product.description }}</p>
								</div>
								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
												{% if product.reviews is defined %}
													{% for review in product.reviews %}
        												<div class="single-review">
        													<div class="review-heading">
        														<div><a href="#"><i class="fa fa-user-o"></i> {{ review.name }}</a></div>
        														<div><a href="#"><i class="fa fa-clock-o"></i> {{ review.date_creation }}</a></div>
        														<div class="review-rating pull-right">
        															{% set maxnotation = 5 %}
        															{% for i in 1..maxnotation %}
        																{% if i <= review.notation %}
		        															<i class="fa fa-star"></i>
        																{% else %}
		        															<i class="fa fa-star-o empty"></i>
        																{% endif %}
        															{% endfor %}
        														</div>
        													</div>
        													<div class="review-body">
        														<p>{{ review.comment }}</p>
        													</div>
        												</div>
													{% endfor %}
												{% endif %}
												<ul class="reviews-pages">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="text-uppercase">Write Your Review</h4>
											<p>Your email address will not be published.</p>
											<form class="review-form" action="/product/add/{{ product.id }}" method="post">
												<div class="form-group">
													<input  name="name" class="input" type="text" placeholder="Your Name" />
												</div>
												<div class="form-group">
													<input name="email" class="input" type="email" placeholder="Email Address" />
												</div>
												<div class="form-group">
													<textarea name ="comment" class="input" placeholder="Your review"></textarea>
												</div>
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Your Rating: </strong>
														<div class="stars">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<button class="primary-btn">Submit</button>
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
				{% endif %}
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			{% if pickedarticles %}
				{% include ('index/picked_for_you.html.twig')%}
			{%endif%}
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
	{% endblock %}

